polls_pres_dataset_00_20.csv
cces
clean_data
dirty_data
model_output
governor_polls.csv
need_outcome_gov.csv
need_outcome_sen.csv
polls_main_dataset.tsv
polls_main_dataset_cleaned.csv
polls_sharad_a_538.csv
polls_sharad_a_538_gov.csv
senate_polls.csv
CCES16_Common_OUTPUT_Feb2018_VV.tab
